<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>

  <p> La liste des potins arrive bientôt ! </p>
  <p> en attendant tu peux <a href="http://localhost:4567/gossips/new/"> créer un nouveau potin </a> si tu veux XOXO </p>

  </body>
</html>